<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="http://127.0.0.1:8000/css/bootstrap.min.css"/>
			<link rel="stylesheet" href="http://127.0.0.1:8000/css/all.min.css"/>
		{% endblock %}

	</head>
	<body>
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}
		
		{% block body %}
		{% endblock %}
	</body>
</html>
